.signup-link {
  display: flex;
  justify-content: flex-end;
}

.landing-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftdiv {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: gray;
}

.sidebar {
  /* margin-left: 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar-card {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5vh;
}

#sidebar-card2 {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

#weather-image {
  width: 50%;
}

#current-user {
  padding-top: .25em;
  margin-left: 1em;
  margin-bottom: .5em;
  color: white;
}

.rightdiv {
  display: flex;
  flex-direction: column;
}

#changeZip {
  display: flex;
  flex-direction: row;
}