.login-page {
  background-color: sandybrown;
}

body {
  background-color: sandybrown;
}

.login-top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3em;
}

.signup-link {
  display: flex;
  justify-content: flex-end;
}

.landing-page {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.leftdiv {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 25%;
  background-color: gray;
  height: 100vh;
}

.sidebar {
  /* margin-left: 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidebar-card {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5vh;
}

#sidebar-card2 {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

#weather-image {
  width: 50%;
  margin-bottom: 15px;
}

#current-user {
  padding-top: .25em;
  margin-left: 1em;
  margin-bottom: .5em;
  color: white;
}

.rightdiv {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.card-set {
  display: flex;
  margin-left: 1vw;
  margin-top: 1vw;
}

.card-holder-label {
  writing-mode: vertical-rl;
  text-align: center;
}

.cardHolder {
  display: flex;
  justify-content: space-between;
  width: 67vw;
  /* margin-left: 1vw; */
  /* margin-right: 1vw; */
  margin-top: 1vh;
  background-color: teal;
  padding: 0vw 1vw;
}

.scroll-div {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;

}

#beachCard {
  margin: 1em 1em;
  /* width: 18rem; */
}

#card-top-image {
  margin-left: 2.5rem;
  padding-top: 10px;
}

#card-top-image-placeholder {
  margin-left: 4rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aqi-info {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-right: 2.3em;
}

.card-button-container {
  display: flex;
  justify-content: center;
}

#changeZip {
  display: flex;
  flex-direction: row;
}

.card:hover {
  /* background-color: green; */
  box-shadow: 1px 1px 5px black;
}

/* set color based on aqi - handle inline */